/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2015, 9:00:11 AM
    Author     : Student
*/
/*****************************************************
General
*****************************************************/

body {
    font-family: 'Andada', serif;
    background-image: url(https://c2.staticflickr.com/6/5254/5519107155_c29cb3604f_b.jpg);
}

#wrapper {
    max-width: 940px;
    /* Margin 0 is for all sides */
    margin: 0 auto;
    /* Values first one is top and bottom. Second one is left and right. */
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    
}

h3 {
    margin: 0 0 1em  0;
}

/******************************************************
Header
******************************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

img {
    text-decoration: none;
    margin: 15px 0;
}

h2 {
    text-decoration: none;
    /*1st value is for the top.  2nd value is for left and right. 3rd value is for bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/*****************************************************
Navigation
*****************************************************/

nav {
   text-align: center;
   padding: 10px 0;
   margin: 20px 0 0;
   text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
    color: #00cc99 ;
}
/********************************************
Footer
********************************************/

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: white;
    clear: both;

}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/*******************************************
Page Portfolio
*******************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #c0c0c0;
    color: #006666;
}

#gallery li a p {
    margin:0;
    padding: 5%;
    font-size: .90em;
    color: #006666;
}

/*******************************************
About Me Page
*******************************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}

/**********************************************
Contact Page
**********************************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin:0;
    font-size: 0.9em;
}

.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png')
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png')
}


/**************************************************
Colors
***************************************************/

body {
    background-color: #fff;
    color: #fff;
}

a {
    color: #fff;
}

header {
    background: #000;
}

h1, h2{
    color:  #ffff00;
}

nav{
    background: #c0c0c0;
}

/*********************************
Text-decoration
*********************************/
nav a,nav a:visited {
    color: #009999;
}

nav a.selected {
    color: #006666;
}

nav a:hover {
    color: #006666;
    font-size: 1.05em;
}

.profile-photo {
    
}

/**************************************
MEDIA QUERIE
**************************************/
/*Two Column Layout*/

@media screen and (min-width: 400px){
    
    #primary {
        width: 50%;
        float: left;
    }

    #secondary {
        width: 40%;
        float: right
    }
    
    #gallery li {
        width: 28.3333%;     
    }
    
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px){
    nav {
        background: none;
        float: right;
        font-size: 1.25em;
        margin-right: 5%;
        text-align: right;
        width: 45%
    }
    
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    
    header {
        border-bottom: 5px solid #006666;
        margin-bottom: 60px;
    }
}
